body{
    padding-top: 46px;
    padding-bottom: 3rem;
}
.carousel-item{
    height: 32rem;
}
body{
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color:transparent;
}
.carousel{
    margin-bottom: 4rem
}
.carousel-caption > p{
    font-size: 2.25rem;


}
.row  p{
    font-size: 2.25rem;
}
.row img{
    height: 140px;
    width: 140px;
    border-radius: 50%;
}
.row{
    text-align: center;
}
.col-md-5{
    img{
        height: 500px; 
        width: 700px;
        border-radius: 0%; 
    }
}
.col-md-7{
    margin-top: 4rem;
}
.col-md-5{
    img{
        
        height: 500px;
        width: 500px;
        border-radius: 0%;
    }
}
